extends ../layout
block layout
	include ../layout-body
	block layout-body
		div.panel.panel-info
			div.panel-heading
				h2.panel-title 
					| Email Template
			div.panel-body
				div#programFormContainer
					include emailTemplates-modal
	include ../layout-footer